<% if (site.posts.length){ %>
<div class="widget recent-posts">
  <h5 class="title txs--h5"><%= __('recent_posts') %></h5>
  <ul class="entry txs--ul -no-bullet">
    <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
      <li class="txs--ul__li">
        <a href="<%= config.root %><%= post.path %>"><%= post.title %></a><br>
        <span class="recent-post-date"><%- date(post.date, 'MMM DD YYYY')%></span>
      </li>
    <% }); %>
  </ul>
</div>
<% } %>