<% if (site.tags.length){ %>
<div class="widget tag">
  <h5 class="title txs--h6"><%= __('tags') %></h5>
  <ul class="entry txs--ul">
  <% site.tags.sort('name').each(function(item){ %>
    <li class="txs--ul__li"><a href="<%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% }); %>
  </ul>
</div>
<% } %>