<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>" /><% } %>

  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <meta name="twitter:description" content="<%= page.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= truncate(strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, ''),  {length: 140, omission: '...'}) %>">
  <meta name="twitter:description" content="<%= truncate(strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, ''), {length: 140, omission: '...'}) %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <meta name="twitter:description" content="<%= config.description %>">
  <% } %>

  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>">
  <% } else if(config.keywords) { %>
  <meta name="keywords" content="<%= config.keywords %>">
  <% } %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>" /><% } %>
  <meta property="og:site_name" content="<%= config.title %>">

  <% if(theme.icon) { %>
  <link href="<%= theme.icon %>" rel="icon" />
  <% } %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Taxes_dev">
  <% if (page.title) { %>
  <meta name="twitter:title" content="<%= page.title %>">
  <% } else { %>
  <meta name="twitter:title" content="<%= config.title %>">
  <% } %>
  <% if (page.card_image) { %>
  <meta name="twitter:image" content="https://taxes.dev<%= url_for(page.card_image) %>">
  <meta name="og:image" content="https://taxes.dev<%= url_for(page.card_image) %>">
  <% } else { %>
  <meta name="twitter:image" content="https://taxes.dev/twitter_400x400.jpg">
  <meta name="og:image" content="https://taxes.dev/twitter_400x400.jpg">
  <% } %>

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link href="https://fonts.googleapis.com/css?family=Alice|Source+Code+Pro|Fugaz+One" rel="stylesheet"> 
  <link rel="stylesheet" href="<%- config.root %>css/taxes-ds.css" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/taxes-moe.css" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/syntax.css" type="text/css">
</head>
